@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

h1, h2, h3, h4, h5, h6, p, body, hr{
    margin: 0;
}

hr{
    width: 100%;
}

img{
    display: block;
}

.cover{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1000px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    position: relative;
    font-family: 'Kumbh Sans', sans-serif;
}

.sections{
    position: relative;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bg-sec{
    position: absolute;
}

.bg{
    position: absolute;
    height: 100%;
    width: 100%;
    padding-right: 80px;
    box-sizing: border-box;
    overflow: hidden;
}

.bgiab{
    position: relative;
    height: 100%;
    width: 100%;
}

.pspa{
    position: relative;
    padding: 80px 80px 80px 0;
    overflow: hidden;
}

.bg-imgd{
    position: absolute;
    right: 0;
    bottom: -25%;
}

.bg-imgm{
    display: none;
}

.pit-sec{
    position: relative;
}

.wc-imgd{
    float: right;
}
.wc-imgm{
    display: none;
}
.cube-img{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -30%);
}

.sec2{
    padding: 80px 80px 80px 0;
}

.head{
    margin-bottom: 30px;
}

.que{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.que:hover{
    cursor: pointer;
    color: hsl(14, 88%, 65%);
}

.que-open{
    font-weight: bold;
}

hr{
    margin: 15px 0;
}

.ans{
    margin-top: 10px;
}

.ansvis{
    display: block;
}

.anshid{
    display: none;
}

.arup{
    transform: rotate(180deg);
}

@media screen and (max-width: 375px) {
    .container{
        width: unset;
        flex-direction: column;
        padding: 0 20px 40px 20px;
        box-sizing: border-box;
    }
    .pspa{
        padding: unset;
    }
    .sections{
        width: unset;
    }
    
    .sec2{
        padding: unset;
    }
    .bg-imgd{
        display: none;
    }
    .bg-imgm{
        display: block;
        position: absolute;
        width: 100%;
    }
    .wc-imgd{
        display: none;
    }
    .wc-imgm{
        position: relative;
        height: 100%;
        width: 100%;
        display: block;
        top: -140px;
    }
    .cube-img{
        display: none;
    }
    .bg{
        padding-right: unset;
        overflow: unset;
        position: relative;
        top: -10px;
    }

    .pit-sec{
        padding: 10px;
    }

    .pspa{
        overflow: unset;
    }
}